body
{
    margin: 0px;
    border: 0px;  
    background-image: url("../assets/lodr,bg.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.wrapper
{
    width: 450px;
    background-color: bisque;
    border: 10px;
    margin: 10px;
}
.wrapper .imput-box
{
    width: 100%;
    height: 50px;
}
.imput-box input
{
    width: 90%;
    align-items: center;
    margin: 10px;
}
.account 
{
    border: 10px;
    margin: 10px;
}
.forgot 
{
    border: 10px;
    margin: 10px;
    display: inline-flex;
    flex-direction: row;
    float: right;
}
.submit
{
    border: 10px;
    margin: 10px;
}
h1
{
    text-align: center;
    text-decoration-style: solid;
}
* {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
  }
  